{% extends "base.html" %}

{% block content %}
    <a href="/logout" class="btn btn-danger pull-right">Logout</a>

    <div class="well">
        <h1>Agora election tool</h1>

        <fieldset>
            <legend>Mobile</legend>
            <form method="POST" action="" role="form" class="form">
                <input type="text" name="mobile" class="form-control" placeholder="mobile"/>
                <input type="text" name="ip" class="form-control" placeholder="ip"/>
                <input type="submit" class="btn btn-primary" value="Send"/>
            </form>
        </fieldset>

        <pre>{% autoescape false %}{{ useragent }}{% endautoescape %}</pre>
        <pre>{% autoescape false %}{{ rm }}{% endautoescape %}</pre>
        <pre>{% autoescape false %}{{ rb }}{% endautoescape %}</pre>
    </div>
{% endblock %}
